:root{
	--dark-bg: #2e2d2d;
	--dark-color: #cacaca;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

.info-window{
	padding: 10px;
	font-size: 1rem;
}

.info-window h4 {
	margin: 0;
}

.info-window p {
	margin-top: 10px;
}

section{
	padding: 50px 0;
}

section:nth-child(even){
	background-color: #fdfbfb;
}

.title{
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid var(--bs-dark);
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.title p, .title h2 {
	letter-spacing: 3px;
	font-size: 1rem;
}


@media only screen and (min-width: 768px) {
	.title{
		margin-bottom: 20px;
	}
}
