body {
  min-height: 100vh;
  min-width: 100vw;
}

.info-window{
	padding: 10px;
	font-size: 1rem;
}

.info-window h4 {
	margin: 0;
}

.info-window p {
	margin-top: 10px;
}

section{
	padding: 50px 0;
}

section:nth-child(even){
	background-color: #fdfbfb;
}

.title{
	text-align: center;
}

.title p, .title h2 {
	letter-spacing: 5px;
	font-size: 1rem;
}
