.map-container{
	padding: 15px;
}

.map-content {
	text-align: center;
	border: 1px solid #222;
	padding: 10px;
	margin-bottom: 15px;
}


#map{
	height: 70vh;
	width: 100%;
}

.list-container{
	min-height: 100vh;
}



@media only screen and (min-width: 767px) {
	.map-container{
		padding: 25px;
	}
	.map-content{
		height: 100%;
	}
	.map-content h2{
		transform: translate(-50%, -50%) rotate(-90deg);
		white-space: nowrap;
		position: absolute;
		left: 50%;
		top: 50%;
		margin-bottom: 0px;
	}
	#map {
		height: calc(100vh - 50px);
	}
}



